<h3 align="center">TODO App</h3>
<h4 align="center">Angular 7 - Websocket - NodeJS - NgRx - ag Grid</h4>
<h4 align="center">Auto-reconnect to Websocket server!</h4>
<div class="container">
  <app-todo></app-todo>
  <ag-grid-todo></ag-grid-todo>
</div>
