<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="todoForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Todo Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="todoForm.controls['name'].invalid && (todoForm.controls['name'].dirty || todoForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="todoForm.controls['name'].errors.required">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Todo Note</label>
        <input type="text" class="form-control" #note/>
      </div>
      <div class="form-group">
        <button (click)="sendNewTodoToWSServer(name.value, note.value)" [disabled]="todoForm.pristine || todoForm.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
