<h4>Double click to finish a task!</h4>
<ag-grid-angular style="width: 100%; height: 350px;" class="ag-theme-balham"
  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"
  [rowData]="fullList"
>
</ag-grid-angular>
